#get-involved {
  background: url('../assets/backgrounds/get_involved_black.png') no-repeat
    center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#upcoming-events {
  padding: 32px 16px;
  margin-top: 32px;
  border: solid white 1px;
}

#upcoming-events h3 {
  text-decoration: underline;
}

@media screen and (min-width: 900px) {
  #upcoming-events {
    margin-top: 0;
  }
}
