#get-involved {
  background: url('../assets/backgrounds/get_involved_black.png') no-repeat
    center center fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#upcoming-events {
  background-color: #f0adad;
  color: black;
  box-shadow: 4px 4px 0px #c07676;
  border-radius: 20px;
  padding: 32px 16px;
  margin-top: 32px;
}

@media screen and (min-width: 900px) {
  #upcoming-events {
    margin-top: 0;
  }
}
