#podcast {
  background: url('../assets/backgrounds/get_involved_black.png') no-repeat
    center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#qpp-logo {
  border-radius: 20px;
  width: 60vw;
  height: auto;
  align-self: center;
}

#podcast-description {
  text-align: center;
  margin-top: 32px;
}

#podcast-links {
  margin-top: 32px;
  row-gap: 32px;
}

@media screen and (min-width: 900px) {
  #podcast-description {
    text-align: left;
    margin-top: 0;
  }
  #podcast-links {
    margin-top: 64px;
    row-gap: 0;
  }
  #qpp-logo {
    width: 100%;
  }
}
