.recipe-card {
  background-color: white;
  margin: 16px 0;
  justify-content: end;
  row-gap: 16px;
  width: 100%;
}

.recipe-title {
  padding: 16px;
}

.recipe-card-img {
  padding: 1px;
  width: 100%;
}
