.recipe-card {
  margin: 32px 64px;
  justify-content: end;
  row-gap: 0px;
  width: 60vw;
}

.recipe-title {
  background-color: white;
  padding: 16px;
  height: 100%;
}

.recipe-card-img {
  width: 100%;
  height: auto;
  border: solid white 5px;
  box-sizing: border-box;
}

@media screen and (min-width: 900px) {
  .recipe-card {
    margin: 16px 0;
    width: 100%;
  }
}
