@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Lato', 'Helvetica Neue',
    sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
